body {
    background-color: black;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

/*
change background-position to better align div bg images
*/

#fish {
    float: left;
    background-image: url(./media/img/banner.png);
    background-size: cover;
    background-position: 90%;
    width: 20%;
    height: 100%;
    color: white;
}

#linq {
    float: left;
    background-image: url(./media/img/galaxy.jpg);
    background-size: cover;
    background-position: center;
    width: 20%;
    height: 100%;
    color: white;
}

#sr {
    float: left;
    background-image: url(./media/img/gaymuslimretard.png);
    background-position: center;
    width: 20%;
    height: 100%;
    color: white;
}

#kai {
    float: left;
    background-image: url(./media/img/homies.png);
    background-size: cover;
    background-position: 5%;
    width: 20%;
    height: 100%;
    color: white;
}

#bean {
    float: left;
    background-image: url(./media/img/homies.png);
    background-size: cover;
    background-position: 95%;
    width: 20%;
    height: 100%;
    color: white;
}

@-webkit-keyframes filter-animation {
    0% { -webkit-filter: blur(0px);}
    100% { -webkit-filter: blur(8px);}
}

#fish:hover, #linq:hover, #sr:hover, #kai:hover, #bean:hover {
    -webkit-animation: filter-animation 0.25s;
    filter: blur(8px);
}

#fish h1, #linq h1, #sr h1,#kai h1, #bean h1{
    font-family: cursive;
    padding-top: 25px;
    writing-mode: vertical-rl;
    text-shadow: 4px 4px black;
    position: absolute;
}