@font-face {
    font-family: TBD;
    src: url('../media/Fonts/theBreakdown.ttf');
}

body {
    font-family: TBD;
    background-image: radial-gradient(circle, mediumpurple, purple);
    background-repeat: no-repeat;
    height: 100vh;
    text-align: center;
    -webkit-user-drag: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

img {
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.title {
    margin-top: 0%;
    margin-bottom: 25px;
    font-size: 100px;
    text-shadow: 4px 4px white;
}

.wheel {
    margin-top: 10%
}

.scene {
    margin: 40px 0;
    position: relative;
    width: 210px;
    height: 140px;
    margin: 40px auto;
    perspective: 1000px;
}

.carousel {
    width: 100%;
    height: 100%;
    position: absolute;
    transform: translateZ(-288px);
    transform-style: preserve-3d;
    transition: transform 1s;
}

.carousel__cell {
    position: absolute;
    width: 190px;
    height: 190px;
    left: 10px;
    top: 10px;
    border: 2px solid black;
    line-height: 116px;
    font-size: 80px;
    font-weight: bold;
    color: white;
    text-align: center;
}

.carousel__cell img {
    width: 190px;
}

.carousel__cell:nth-child(9n+1) {
    background: hsla(0, 100%, 50%, 0.8);
}

.carousel__cell:nth-child(9n+2) {
    background: hsla(36, 100%, 50%, 0.8);
}

.carousel__cell:nth-child(9n+3) {
    background: hsla(72, 100%, 50%, 0.8);
}

.carousel__cell:nth-child(9n+4) {
    background: hsla(108, 100%, 50%, 0.8);
}

.carousel__cell:nth-child(9n+5) {
    background: hsla(144, 100%, 50%, 0.8);
}

.carousel__cell:nth-child(9n+6) {
    background: hsla(180, 100%, 50%, 0.8);
}

.carousel__cell:nth-child(9n+7) {
    background: hsla(216, 100%, 50%, 0.8);
}

.carousel__cell:nth-child(9n+8) {
    background: hsla(252, 100%, 50%, 0.8);
}

.carousel__cell:nth-child(9n+9) {
    background: hsla(288, 100%, 50%, 0.8);
}

.carousel__cell:nth-child(9n+0) {
    background: hsla(324, 100%, 50%, 0.8);
}

.carousel__cell:nth-child(1) {
    transform: rotateY(0deg) translateZ(320px);
}

.carousel__cell:nth-child(2) {
    transform: rotateY(36deg) translateZ(320px);
}

.carousel__cell:nth-child(3) {
    transform: rotateY(72deg) translateZ(320px);
}

.carousel__cell:nth-child(4) {
    transform: rotateY(108deg) translateZ(320px);
}

.carousel__cell:nth-child(5) {
    transform: rotateY(144deg) translateZ(320px);
}

.carousel__cell:nth-child(6) {
    transform: rotateY(180deg) translateZ(320px);
}

.carousel__cell:nth-child(7) {
    transform: rotateY(216deg) translateZ(320px);
}

.carousel__cell:nth-child(8) {
    transform: rotateY(252deg) translateZ(320px);
}

.carousel__cell:nth-child(9) {
    transform: rotateY(288deg) translateZ(320px);
}

.carousel__cell:nth-child(10) {
    transform: rotateY(324deg) translateZ(320px);
}

.controller {
    margin-top: 100px;
}

@-webkit-keyframes filter-animation {
    0% {
        -webkit-filter: drop-shadow(0 0 0rem rgb(0, 0, 0));
    }

    100% {
        -webkit-filter: drop-shadow(0 0 0.50rem rgb(0, 0, 0));
    }
}

.links {
    position: fixed;
    bottom: 20px;
    left: 40%;
    right: 40%
}

.links img {
    width: 40px;
}

.links img:hover {
    -web-animation: filter-animation 0.25s;
    filter: drop-shadow(0 0 0.50rem rgb(0, 0, 0));
    width: 50px;
}
